$font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

$light-colors: (
  'background': #fff,
  'text': #24292e,
  'border-color': #e1e4e8,
  'link-color': #0366d6,
  'code-background': rgba(27, 31, 35, 0.05),
  'highlight-background': #f6f8fa,
  'highlight-comment': #6a737d,
  'highlight-constant': #005cc5,
  'highlight-entity': #6f42c1,
  'highlight-storage-modifier-import': #24292e,
  'highlight-entity-tag': #22863a,
  'highlight-keyword': #d73a49,
  'highlight-string': #032f62,
  'highlight-variable': #e36209,
  'highlight-brackethighlighter-unmatched': #b31d28,
  'highlight-invalid-illegal-text': #fafbfc,
  'highlight-invalid-illegal-bg': #b31d28,
  'highlight-carriage-return-text': #fafbfc,
  'highlight-carriage-return-bg': #d73a49,
  'highlight-string-regexp': #22863a,
  'highlight-markup-list': #735c0f,
  'highlight-markup-heading': #005cc5,
  'highlight-markup-italic': #24292e,
  'highlight-markup-bold': #24292e,
  'highlight-markup-deleted-text': #b31d28,
  'highlight-markup-deleted-bg': #ffeef0,
  'highlight-markup-inserted-text': #22863a,
  'highlight-markup-inserted-bg': #f0fff4,
  'highlight-markup-changed-text': #e36209,
  'highlight-markup-changed-bg': #ffebda,
  'highlight-markup-ignored-text': #f6f8fa,
  'highlight-markup-ignored-bg': #005cc5,
  'highlight-meta-diff-range': #6f42c1,
  'highlight-brackethighlighter-angle': #586069,
  'highlight-sublimelinter-gutter-mark': #959da5,
  'highlight-constant-other-reference-link': #032f62,
);

$dark-colors: (
  'background': #0d1117,
  'text': #c9d1d9,
  'border-color': #30363d,
  'link-color': #58a6ff,
  'code-background': rgba(240, 246, 252, 0.15),
  'highlight-background': #161b22,
  'highlight-comment': #8b949e,
  'highlight-constant': #79c0ff,
  'highlight-entity': #d2a8ff,
  'highlight-storage-modifier-import': #c9d1d9,
  'highlight-entity-tag': #7ee787,
  'highlight-keyword': #ff7b72,
  'highlight-string': #a5d6ff,
  'highlight-variable': #ffa657,
  'highlight-brackethighlighter-unmatched': #f85149,
  'highlight-invalid-illegal-text': #f0f6fc,
  'highlight-invalid-illegal-bg': #8e1519,
  'highlight-carriage-return-text': #f0f6fc,
  'highlight-carriage-return-bg': #b62324,
  'highlight-string-regexp': #7ee787,
  'highlight-markup-list': #f2cc60,
  'highlight-markup-heading': #1f6feb,
  'highlight-markup-italic': #c9d1d9,
  'highlight-markup-bold': #c9d1d9,
  'highlight-markup-deleted-text': #ffdcd7,
  'highlight-markup-deleted-bg': #67060c,
  'highlight-markup-inserted-text': #aff5b4,
  'highlight-markup-inserted-bg': #033a16,
  'highlight-markup-changed-text': #ffdfb6,
  'highlight-markup-changed-bg': #5a1e02,
  'highlight-markup-ignored-text': #c9d1d9,
  'highlight-markup-ignored-bg': #1158c7,
  'highlight-meta-diff-range': #d2a8ff,
  'highlight-brackethighlighter-angle': #8b949e,
  'highlight-sublimelinter-gutter-mark': #484f58,
  'highlight-constant-other-reference-link': #a5d6ff,
);
