@function font-src($weight) {
  $full-name: 'Inter-' + $weight;
  @return local($full-name), url('/fonts/' + $full-name + '.woff2') format('woff2'),
    url('/fonts/' + $full-name + '.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: font-src('Regular');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: font-src('Medium');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: font-src('Bold');
  font-display: swap;
}
